.title {
  /*  background: red;*/
    font-size: 30px;
    display: flex;
}

.mypic1 {

   float: left;
   margin: 0 0 10px 10px;
   width: auto;
   height: auto;
   max-width: 120px;
   max-height: 100px;
}

.text-content {
    font-size: 20px;
}
